@page "/"
@inject HttpClient Http

<PageTitle>Admin Panel</PageTitle>

<h3>Add new feature</h3>
<br />

<AddNewFeat Add="@(name=>@Add(name))"
            invalidInput="@_invalidInput"
            PlaceHolder="@_newFeature"></AddNewFeat>

<h3>All Features</h3>

<table>
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Status</th>
            <th scope="col">On/Off</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var feat in _features)
        {
            <FeatureStatus Delete="@Delete"
                       OnOff="@OnOffButton"
                       Name="@feat.Key"
                       Status="@feat.Value"
                       Add="@(name=>@Add(name))"></FeatureStatus>
        }
    </tbody>
</table>