@page "/"
@inject HttpClient Http

<PageTitle>Admin Panel</PageTitle>

<h3>Add new feature</h3>
<br />

<AddNewFeat Add="@(name=>@Add(name))"
            invalidInput="@_invalidInput"
            PlaceHolder="@_newFeature"></AddNewFeat>

<h3>All Features</h3>

@if (_features == null)
{
    <span class="loading">Loading...</span>
}
else if (_features.Count == 0)
{
    <span>There are no features.</span>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Status</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var feat in _features)
            {
                <FeatureStatus Delete="@Delete"
                       OnOff="@OnOffButton"
                       Name="@feat.Key"
                       Status="@feat.Value"
                       Add="@(name=>@Add(name))"></FeatureStatus>
            }
        </tbody>
    </table>
}